body {
  background: url(../images/shattered-island.gif);
}

.modal {
  background: rgba(0, 0, 0, 0.7);
}

.card {
  width: calc(20% - 20px);
}

.rows .card {
  width: 100%;
  flex-direction: row;
}

.rows .card img.card-img-top {
  width: 200px;
}

.rows .card .card-body {
  width: calc(100% - 200px);
}

#fav-list {
  position: fixed;
  left: 0;
  top: 15%;
  height: 75%;
}
#fav-list .list-group {
  height: 100%;
  overflow-y: auto;
}
#fav-list .list-group-item {
  background: #999;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}