.button {
  width: 225px;
  height: 60px;
  background-color: #5474fd;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.button:after {
  content: "";
  display: block;
  width: 300px;
  height: 300px;
  transform: rotate(45deg);
  position: absolute;
  left: -251px;
  bottom: -150px;
  background-color: #496bfe;
  overflow: hidden;
  transition: all 0.2s ease;
}
.button:hover:after {
  left: 0;
  transition: all 0.2s ease;
}
.button a {
  text-decoration: none;
  color: #fff;
  line-height: 60px;
  text-transform: uppercase;
  position: absolute;
  z-index: 1000;
  left: 40px;
  letter-spacing: 1px;
  font-size: 16px;
}